<h3>Control Panel <i class="pi pi-sliders-v"></i></h3>
<div class="ui-g">
  <div class="ui-g-12">
    <div class="ui-g-4">
      <p-button
        label="Start"
        icon="pi pi-play"
        iconPos="right"
        class="max"
        styleClass="ui-button-success max"
        (click)="startClick()"
        [disabled]="run$ | async"
      ></p-button>
    </div>
    <div class="ui-g-4">
      <p-button
        label="Pause"
        icon="pi pi-pause"
        iconPos="right"
        class="max"
        styleClass="ui-button-info max"
        (click)="pauseClick()"
        [disabled]="!(run$ | async)"
      ></p-button>
    </div>
    <div class="ui-g-4">
      <p-button
        label="New buisness"
        icon="pi pi-plus"
        iconPos="right"
        class="max"
        styleClass="ui-button-secondary max"
        (click)="newBuisenssClick()"
        [disabled]="run$ | async"
      ></p-button>
    </div>
  </div>
  <div class="ui-g-12">
    <span>Time Speed</span>
    <input type="text" pInputText [ngModel]="timeSpeed" [disabled]="true" style="width:100%" />
    <p-slider [ngModel]="timeSpeed" [min]="10" [max]="2000" [step]="10" (onChange)="timeChange($event)"></p-slider>
  </div>
</div>
<div class="ui-g-12">
  <span>Percentage of salary%</span>
  <input type="text" pInputText [ngModel]="salary" [disabled]="true" style="width:100%" />
  <p-slider [ngModel]="salary" [min]="1" [max]="100" (onChange)="salaryChange($event)"></p-slider>
</div>
<div class="ui-g-12">
  <span>Sales margin%</span>
  <input type="text" pInputText [ngModel]="sales" [disabled]="true" style="width:100%" />
  <p-slider [ngModel]="sales" [min]="1" [max]="100" (onChange)="marginChange($event)"></p-slider>
</div>
