.ui-g div {
  text-align: center;
}

.header {
  background-color: #272343;
  color: white;
}

.panel {
  background-color: #bae8e8;
  padding: 0;
  border-bottom: 1px solid #c8c8c8;
  &__card {
    position: relative;
    text-align: center;
    min-width: 10em;
  }
}

.chart {
  margin-top: 6px;
}

.chart__box {
  background-color: #bae8e8;
  background-color: #e3f6f5;
  padding: 2px 2px !important;
}

.control {
  background-color: #f7f7f7;
  * {
    padding: 0 !important;
  }
}

.ui-slider {
  margin-top: 10px;
}

.card__white {
  background-color: white;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
