<h3 class="reset state__header center">Company finances <i class="pi pi-dollar"></i></h3>
<div style="margin-top: 25px;">
  <p><span class="bold">Start budget:</span> {{ actualBudget$ | async }}</p>
  <p><span class="bold">Sale:</span> {{ (firmModel$ | async).actualSale }}</p>
  <p><span class="bold">Cost:</span> {{ (firmModel$ | async).actualCosts }}</p>
  <p><span class="bold">Profits:</span> {{ (firmModel$ | async).actualProfits }}</p>
  <p>
    <span class="bold"> Actual condition: </span>
    <ng-container [ngSwitch]="getRange((firmModel$ | async).actualProfits)">
      <ng-container *ngSwitchCase="-1">Bancrupt <i class="pi pi-ban" style="color: red;"></i></ng-container>
      <ng-container *ngSwitchCase="0">Bad <i class="pi pi-thumbs-down" style="color: red;"></i></ng-container>
      <ng-container *ngSwitchCase="1">Medium <i class="pi pi-align-justify" style="color: salmon;"></i></ng-container>
      <ng-container *ngSwitchCase="2">Good <i class="pi pi-thumbs-up" style="color: green;"></i></ng-container>
    </ng-container>
  </p>
  <p><span class="bold">Tick duration(ms):</span> {{ duration$ | async }}</p>
</div>
